@import "tailwindcss";

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body > div:not(#root) {
  display: none !important;
}

.k-licensing-watermark {
  display: none !important;
}
